body{
    font-family:Arial, Helvetica, sans-serif
    font-size:17px;
    padding:8px;
}
h2{
    text-align:left;
}
*{
    box-sizing:border-box;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px
}
.col-25{
    -ms-flex:25%;
    flex: 25%;
}
.col-50{
    -ms-flex:50%;
    flex: 75%
}
.col-25,.col-50,.col-75{
    padding: 0 16px;
}
.container{
    background-color:#e9bffd;
    padding: 3px 18px 13px 18px;
    border: 1px solid #9947be;
    border-radius: 20px; 
}
input[type=text]{
    width:100%;
    margin-bottom:20px;
    padding:12px;
    border: 1px solid #ccc;
    border-radius:3px;
}
label{
    margin-bottom:10px;
    display:block;
}
btn{
    background-color: #e9bffd;
    color:white;
    padding: 12px;
    border: none;
    width:10%;
    border-radius:3px;
    font-size:17px;
}
.btn:hover{
    background-color:#e9bffd;
}
span.price{
    float: right;
    color: black;    
}