*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins" , sans-serif;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #E9BFFD;
	  padding: 40px;
}

section{
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;

}
section:before{
	position: absolute;
	content: '';
	width: 2000px;
	height: 100%;
	bottom: -70%;
	border-radius: 50%;
}
section .main-text{
	display: inline-block;
	position: relative;
	color: #000;
	font-size: 4vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 800;
}
section .main-text:before{
	position: absolute;
	content: '';
	width: 15%;
	height: 7px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25%;
	background: #393939;
}

.max-container{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.max-container .container{
	position: relative;
	width: 350px;
	color: #000;
	background-color: #fff;
	margin: 60px 10px;
	padding: 30px 20px;
	border-radius: 30px;
	transition: 0.3s ease;
}

.max-container .container p{
	margin-top: 30px;
	color: #000;
	padding: 0 8px;
	font-size: 15px;
	opacity: 0.8;
}
.name {
	font-size:30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	color:#E9BFFD;
	margin: 50px 0px;
}

.img {
	width: 100px;
	height: 100px;
}

  